<%- include('../partials/head') %>

    <body>
        <header>
            <%- include('../partials/nav') %>
                <h1>User Details </h1>
        </header>
        <main style="max-width: 900px;">
            <h1 style="margin-bottom: 30px;">Details of Registered Users</h1>
            <div class="card-container">
                <% if (user) { %>
                    <div class="cards">
                        <h2>User Profile</h2>
                        <strong>Name:</strong>
                        <%= user.name %><br>
                            <strong>Age:</strong>
                            <%= user.age %><br>
                                <strong>Email:</strong>
                                <%= user.email %><br>
                                    <strong>Mobile:</strong>
                                    <%= user.mobile %><br>
                                        <strong>Gender:</strong>
                                        <%= user.gender %><br>
                    </div>
                <% } else { %>
                    <h2>User not found</h2>
                <% } %>
            </div>
        </main>
    </body>

    </html>